h1#title {
    text-align: center;
}
p#description {
    text-align: center;
    font-size: 18px;
}
.table{
    padding-top:30px;
    outline: none;
    border: none;
}
/* input{
    outline: none;
    border: none;
} */
body{
background-image: url("https://neaxr.itech-theme.com/static/media/bgshape1.7aade7aa.png");
height: 100vh;
}